<div class="d-flex container justify-content-center display-bubble">
    <%= simple_form_for(@new) do |f| %>

         <%= f.error_notification %>
         <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

         <div class="form-inputs">
          <h3 class="title-new">Ajouter une Action</h3>
          <h5>Titre</h5>
            <%= f.input :titre_new %>
            <h5>Sous-titre</h5>
            <%= f.input :sous_titre_new %>
            <h5>Date</h5>
            <%= f.input :date_new %>
            <h5>Lieu</h5>
            <%= f.input :lieu_new %>
            <h5>Sites internets (5 liens url)</h5>
            <%= f.input :lien_new %>
            <h5>Image 1 (Cloudinary)</h5>
            <%= f.input :image_new %>
         </div>

         <div class="form-actions">
           <%= f.button :submit, class: "btn btn-danger title-new" %>
         </div>
       <% end %>
</div>
</div>
