<%= render "components/header" %>
<% if user_signed_in? %>
<div class="btn btn-dark btn-banner-p"><%= link_to "Ajouter un Poète", new_poete_path %></div>
<% end %>
<div class="index_2">


<div class="display-grid-card-poete">
  <% @poete.each do |poete| %>
    <div class="trajet">
      <% if user_signed_in? %>
        <div class ="btn-trajet">
          <div class="btn btn-danger btn-banner-p"><%= link_to 'Supprimer', poete_path(poete),
            method: :delete,
            data: { confirm: 'Êtes-vous certain de vouloir supprimer?' } %></div>
          <div class="btn btn-success btn-banner-p"><%= link_to "Editer", edit_poete_path(poete.id)%></div>
        </div>
      <% end %>
          <div class="img-poete">
            <%= link_to(image_tag("#{poete.image_poete_1}", alt: "Diogo Maia Moreira"), poete_path(poete.id)) %>
            <h1><%= poete.titre_poete %></h1>
            <div class="info_p">
            <h4 class=""><%= poete.date_poete %></h4>
            <h5 class=""><%= poete.lieu_poete %></h5>
            </div>
          </div>
    </div>
     <% end %>
  </div>

</div>
<%= render "components/footer" %>

