<%= render "components/header" %>
<body style="background-image: url('https://res.cloudinary.com/dft5iblyz/image/upload/v1611606286/back_rgt0vt.jpg'); background-size: cover;">

<div class="map">
<br>
<iframe src="https://www.google.com/maps/d/u/2/embed?mid=1nF1a9thz0HBLi30WLZ9dEMmoVLlTAy-_" width="640" height="480"></iframe>
<br>
</div>
<% if user_signed_in? %>
<div class="btn btn-dark btn-banner-t"><%= link_to "Ajouter un Trajet", new_trajet_path %></div>
<% end %>
<div class="index_2">


<div class="display-grid-card">
  <% @trajet.each do |trajet| %>
    <div class="trajet">
      <% if user_signed_in? %>
        <div class ="btn-trajet">
          <div class="btn btn-danger btn-banner-p"><%= link_to 'Supprimer', trajet_path(trajet),
            method: :delete,
            data: { confirm: 'Êtes-vous certain de vouloir supprimer?' } %></div>
          <div class="btn btn-success btn-banner-p"><%= link_to "Editer", edit_trajet_path(trajet.id)%></div>
        </div>
      <% end %>
          <div class="img-trajet">
            <%= link_to(image_tag("#{trajet.image_trajet_1}", alt: "Diogo Maia Moreira"), trajet_path(trajet.id)) %>
            <h1><%= trajet.titre_trajet %></h1>
            <div class="info_p">
            <h4 class=""><%= trajet.date_trajet %></h4>
            <h5 class=""><%= trajet.lieu_trajet %></h5>
            </div>
          </div>
    </div>
     <% end %>
  </div>

</div>
</body>
<%= render "components/footer" %>

